__pycache__/
ArquivosXML/
*.bak
*.pfx
*DS_Store
*.pyc
/.project
/.pydevproject
/dist/
/pydub.egg-info/
.DS_Store
.env
*.swp
.idea

*.egg
*.egg-info
/build/
/backup/
/.python-version
/env/
/pysswords.egg-info/
